       <!----START OF FOOTER---->
       
    
<div class="theFooterSide">
    <div class=" footerContainer">
        <div class="row mx-auto">
            <div class="col-lg-8">
              <div class="row">
                <div class="col"><p class="title-footer">About</p><p class="sub-footer">Terms</p><p class="sub-footer">Fees</p></div>
                <div class="col"><p class="title-footer">Help</p><p class="sub-footer">Support</p><p class="sub-footer">Announcement</p></div>
                <div class="col"><p class="title-footer">Social</p><p class="sub-footer"><span><img src="../assets/images/telegram.png" class="footerIcon"></span>&nbsp;Telegram</p><p class="sub-footer"><span><img src="../assets/images/facebook.png" class="footerIcon"></span>&nbsp;Facebook</p></div>
              </div>
            </div>
           
            <div class="col col-lg-4">
              <div><img src="../assets/images/darklogo.png" class="footerLogo" align="center"></div><br>
           <div><p class=" footerLogoSubtitle">© 2019 Binance.co.ug All rights reserved</p></div> 
            </div>
          </div>
    </div>
</div>
  
  <!----END OF FOOTER---->
