/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: IBMPlexSans-ExtraLight;
    src: url(src\assets\fonts\IBMPlexSans-ExtraLight.otf) format("opentype");
  }
@font-face {
    font-family: IBMPlexSans-SemiBold;
    src: url(src\assets\fonts\IBMPlexSans-SemiBold.ttf) format("truetype");
  }
@font-face {
    font-family: IBMPlexSans-Regular;
    src: url(src\assets\fonts\IBMPlexSans-Regular.otf) format("opentype");
  }
@font-face {
    font-family: DINPro-Medium;
    src: url(src\assets\fonts\DINPro-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: IBMPlexSans-Medium;
    src: url(src\assets\fonts\IBMPlexSans-Medium.ttf) format("truetype");
  }
