.body {
    margin-top:60px;
    background-image: url("/assets/images/register.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    // padding: 100px;
   }
  .card-title{
    color: gold;
    font-family: IBMPlexSans-SemiBold;
  }
  .col-form-label{
    color: white;
    font-family: IBMPlexSans-Regular;
  }
  .card{
    background-color: #343a40!important;
    top: 30px;
    bottom: 30px;
    width: 650px;
    max-width: 100%;
    position: absolute;
    padding: 10px;
    background: transparent!important;
    border: 0;
    margin-left: 310px;

    //   background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
    //   background: rgba(255, 255, 255, 0.5);
  }